<div class="card shadow-lg border-0 rounded-4 overflow-hidden">
  <img [src]="getImageForPlant(plant.name)" class="card-img-top object-fit-cover" alt="{{ plant.name }}" style="height: 200px; width: 100%; object-fit: cover;">
  <div class="card-body text-center bg-light">
    <h5 class="card-title fw-bold text-success">{{ plant.name }}</h5>
    <p class="card-text text-muted">{{ plant.description | slice: 0:50 }}...</p>
    <button class="btn btn-success w-100 mt-2" (click)="nav()">View Details</button>
  </div>
</div>

