<div class="container mt-5" *ngIf="article">
  <div class="card mb-3">
      <img [src]="article.image" class="card-img-top" alt="{{ article.title }}">
      <div class="card-body">
          <h2 class="card-title">{{ article.title }}</h2>
          <p>Published on: {{ article.date }}</p>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-body">
                          <p class="card-text">{{ article.content }}</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="mt-4">
              <h4>Linked Plants:</h4>
              <div class="d-flex">
                  <div style="cursor: pointer;" (click)="navigateToPlantDetails(plant.id)" *ngFor="let plant of linkedPlants">
                      <app-plant-card [plant]="plant"></app-plant-card>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="mt-4">
              <h4>Comments:</h4>
              <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                  <div class="d-flex">
                      <input type="text" class="form-control me-2" formControlName="comment" placeholder="Write a comment..." />
                      <button type="submit" class="btn btn-success">Post</button>
                  </div>
              </form>
          </div>
          <div class="mt-2" *ngFor="let comment of comments; let i = index">
            <div class="comment-card">
                <div class="comment-header">
                    <i class="bi bi-person-circle comment-icon"></i>
                    <span class="comment-name">{{ comment.name }}</span>
                </div>
                 <p class="comment-text">{{ comment.commentaire }}</p> <!-- This line was missing -->
                 <p class="comment-date">Posted on: {{ comment.date }}</p>
                   <div class="comment-actions">
                       <i
                         class="bi"
                         [class.bi-heart]="!commentLikes[i]"
                         [class.bi-heart-fill]="commentLikes[i]"
                         [class.liked]="commentLikes[i]"
                         (click)="toggleLike(i)"
                         style="cursor: pointer; font-size: 1.2rem;"></i>
                     </div>
              </div>
           </div>
      </div>
  </div>
</div>
