.container {
  margin-top: 20px;
}
.btn-outline-secondary {
  border: 1px solid #6c757d;
  color: #6c757d;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: white;
}
.card {
border: 1px solid #dee2e6;
border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-img-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
 object-fit: cover;
  height: 200px; /* Set a fixed height or use other styling to control the image size */
}
.card-body {
  padding: 1rem;
}
